/* header style */

.header {
  width: 100%;
  background-color: transparent;
  padding: 20px 0;
  z-index: 1;
  border-bottom: 1px solid #e5563b;
}

.header-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.burger-menu {
  width: 35px;
  height: 35px;
  color: #2b2d2d;
  cursor: pointer;
}
.header-navigation {
  display: none;
}

.ul-nav {
  display: flex;
  align-items: center;
}

.li-nav {
  font-size: 18px;
  color: #675050;
  cursor: pointer;
  font-family: "tbc-helvetica-bold";
  font-feature-settings: "case" on;
  transition: all 0.4s;
}

.li-nav:hover {
  color: #e5563b;
  transform: scale(1.2);
  /* opacity: 1; */
  /* filter: blur(0); */
}

/* .li-nav:not(:hover) {
  filter: blur(5px);
  opacity: 0.2;
} */

/* mobile menu style for header */

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: #e5563b;
  padding: 30px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.close-menu {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-bottom: 30px;
}

.close-menu-icon {
  width: 100%;
  height: 100%;
  color: #edeeee;
}

/* main */

main {
  padding: 30px 10px;
  flex: 1;
}

/* search section sttyle */
.search-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-label {
  position: relative;
}
.search-input {
  outline: none;
  padding: 7px 20px;
  border: 2px solid #e5563b;
  width: 200px;
  border-radius: 20px 0 0 20px;
  color: #2e3037;
  font-family: "tbc-helvetica-roman";
  font-size: 18px;
}

::placeholder {
  color: #e5563b;
}
.search-input::-webkit-search-cancel-button {
  display: none;
}
.search-btn {
  height: 39.5px;
  width: 150px;
  border: none;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 20px 20px 0;
  background-color: #e5563b;
  color: #ffffff;
  font-family: "tbc-helvetica-bold";
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 1.2px;
  text-align: center;
  transition: all 0.4s;
}
.search-btn:hover {
  transform: scaleX(1.1);
}

.search-icon {
  position: absolute;
  top: 14px;
  right: 12px;
  color: #e5563b;
}

/* product item style */

.product-item-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "product-item-container"
    "show-more";
  overflow-y: scroll;
  height: 250px;
}
.product-item-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-area: product-item-container;
}

.product-item-wrapper::-webkit-scrollbar {
  display: none;
}
@-moz-document url-prefix() {
  .product-item-wrapper {
    overflow: overlay;
  }
}
.item-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.product-img {
  width: 300px;
  height: 250px;
  position: relative;
  margin: 10px 10px 0 0;
}
.product-img > span {
  position: absolute;
  top: 7px;
  left: 7px;
  background-color: #e5563b;
  padding: 7px;
  border-radius: 5px;
  color: #ffffff;
  font-family: "tbc-helvetica-bold";
  font-size: 16px;
}
.product-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: 0;
  transition: all 0.4s;
  cursor: pointer;
  overflow: hidden;
}

.product-img:hover .add-cart {
  opacity: 1;
}
.product-img:hover .add-cart > button {
  transform: translateY(0);
}
.add-cart > button {
  background-color: #2e3037;
  color: #d1cfcf;
  font-family: "tbc-helvetica-bold";
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  margin-bottom: 15px;
  cursor: pointer;
  transform: translateY(70px);
  transition: all 0.6s;
}
.add-cart > button:hover {
  background-color: #e5563b;
}

.product-title,
.product-description {
  font-size: 16px;
  color: #2b2d2d;
  font-family: "tbc-helvetica-light";
  line-height: 1.75;
}
.product-price {
  font-size: 16px;
  font-family: "tbc-helvetica-bold";
  color: goldenrod;
}

.show-more {
  grid-area: show-more;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.show-more > button {
  padding: 10px 20px;
  width: 250px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #2e3037;
  color: #ffffff;
  font-family: "tbc-helvetica-bold";
  letter-spacing: 1.2px;
  border: none;
  transition: all 0.4s;
}
.show-more:hover > button {
  background-color: #e5563b;
}
/* footer style */

.footer {
  width: 100%;
  background-color: #2e3037;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #e5563b;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.footer-rights {
  margin: 15px 0;
}
.rights,
.rules {
  font-size: 13px;
  font-family: "tbc-telegraf-light";
  margin-bottom: 5px;
  color: #ffffff;
  letter-spacing: 1.1px;
}

.social-links > p {
  font-family: "tbc-helvetica-light";
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 12px;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  color: #25262b;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  transition: all 0.4s;
}

.link:hover {
  transform: scale(1.3) rotate(30deg);
  background-color: #5d2d34;
  color: #ffffff;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav-links > h2 {
  color: #ffffff;
  font-family: "tbc-helvetica-bold";
  font-size: 24px;
  margin-bottom: 7px;
}
.email {
  position: relative;
  width: 250px;
  margin-top: 20px;
}
.subscribe {
  width: 100%;
  outline: none;
  color: #25262b;
  font-family: "tbc-helvetica-roman";
  font-size: 16px;
  border: solid 2px #e5563b;
  border-radius: 7px;
  padding: 15px 20px;
}
.send-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  color: #edeeee;
  background-color: #e5563b;
  font-family: "tbc-helvetica-roman";
  font-feature-settings: "case" on;
  cursor: pointer;
  transition: all 0.4s;
}

.send-btn:hover {
  background-color: #5d2d34;
}
.subscribe:focus {
  border: solid 2px #5d2d34;
}

@media (min-width: 768px) {
  /* footer style */

  .footer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .footer {
    padding: 30px 40px;
  }
  .email {
    margin-top: unset;
  }
}

@media (min-width: 1024px) {
  /* header style */

  .header-navigation {
    display: block;
  }

  .burger-menu {
    display: none;
  }

  /* footer style */

  .footer {
    padding: 30px 0;
  }

  .footer-container {
    width: 80%;
    margin: auto;
  }
}
