/* header style */

.header {
  width: 100%;
  background-color: #ffffff;
  padding: 20px 0;
  z-index: 1;
  border-bottom: 1px solid #38393b;
}

.header-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.burger-menu {
  width: 35px;
  height: 35px;
  color: #ff1f1f;
  cursor: pointer;
}
.header-navigation {
  display: none;
}

.ul-nav {
  display: flex;
  align-items: center;
}

.li-nav {
  font-size: 11px;
  color: #38393b;
  cursor: pointer;
  font-family: "tbc-helvetica-bold";
  font-feature-settings: "case" on;
  transition: all 0.4s;
}

.li-nav:hover {
  color: #ff1f1f;
  transform: scale(1.2);
}

a.active {
  color: #ff1f1f;
  text-underline-offset: 4px;
  text-decoration: underline;
}

.user-icon {
  width: 28px !important;
  height: 28px !important;
  color: #38393b;
  transition: all 0.4s;
}
.icon-wrapper {
  display: none;
}
.user-icon:hover {
  color: #ff1f1f;
}
/* mobile menu style for header */

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: #4d4a4a;
  padding: 30px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.close-menu {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-bottom: 30px;
}

.close-menu-icon {
  width: 100%;
  height: 100%;
  color: #edeeee;
}

/* main */

main {
  padding: 30px 10px;
  flex: 1;
  width: 100%;
  margin: auto;
}

/* search section sttyle */
.search-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-label {
  position: relative;
}
.search-input {
  outline: none;
  padding: 7px 20px;
  border: 2px solid #ff1f1f;
  width: 200px;
  border-radius: 20px 0 0 20px;
  color: #18191b;
  font-family: "tbc-helvetica-roman";
  font-size: 18px;
}

::placeholder {
  color: #ff1f1f;
  opacity: 0.3;
}
.search-input::-webkit-search-cancel-button {
  display: none;
}
.search-btn {
  height: 39.5px;
  width: 150px;
  border: none;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 20px 20px 0;
  background-color: #ff1f1f;
  color: #ffffff;
  font-family: "tbc-helvetica-bold";
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 1.2px;
  text-align: center;
  transition: all 0.4s;
}
.search-btn:hover {
  transform: scaleX(1.1);
}

.search-icon {
  position: absolute;
  top: 14px;
  right: 12px;
  color: #ff1f1f;
}

/* product item style */

.product-item-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "product-item-container"
    "show-more";
  overflow-y: scroll;
  height: 250px;
}
.product-item-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-area: product-item-container;
}

.product-item-wrapper::-webkit-scrollbar {
  display: none;
}
@-moz-document url-prefix() {
  .product-item-wrapper {
    overflow: overlay;
  }
}
.item-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.product-img {
  width: 300px;
  height: 250px;
  position: relative;
  margin: 10px 10px 0 0;
}
.product-img > span {
  position: absolute;
  top: 7px;
  left: 7px;
  background-color: #ff1f1f;
  padding: 7px;
  border-radius: 5px;
  color: #ffffff;
  font-family: "tbc-helvetica-bold";
  font-size: 16px;
}
.product-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: 0;
  transition: all 0.4s;
  cursor: pointer;
  overflow: hidden;
}

.product-img:hover .add-cart {
  opacity: 1;
}
.product-img:hover .add-cart > button {
  transform: translateY(0);
}
.add-cart > button {
  background-color: #2e3037;
  color: #d1cfcf;
  font-family: "tbc-helvetica-bold";
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  margin-bottom: 15px;
  cursor: pointer;
  transform: translateY(70px);
  transition: all 0.6s;
}
.add-cart > button:hover {
  background-color: #ff1f1f;
}

.product-title,
.product-description {
  font-size: 16px;
  color: #303132;
  font-family: "tbc-helvetica-light";
  line-height: 1.75;
}
.product-price {
  font-size: 16px;
  font-family: "tbc-helvetica-bold";
  color: #ff1f1f;
}

.show-more {
  grid-area: show-more;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.show-more > button {
  padding: 10px 20px;
  width: 250px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #4f4f4f;
  color: #ffffff;
  font-family: "tbc-helvetica-bold";
  letter-spacing: 1.2px;
  border: none;
  transition: all 0.4s;
}
.show-more:hover > button {
  background-color: #e5563b;
}
/* footer style */

.footer {
  width: 100%;
  background-color: #171613;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 2px solid #4f4f4f;
}

.footer-container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.footer-container h3 {
  color: #ffffff;
  font-size: 24px;
  font-family: "tbc-helvetica-bold";
  line-height: 1.3;
  margin-bottom: 12px;
}
.footer-container p {
  color: #ffffff;
  font-size: 15px;
  font-family: "tbc-helvetica-roman";
  line-height: 1.6;
  margin-bottom: 15px;
}

.rights {
  font-size: 13px;
  font-family: "tbc-telegraf-light";
  color: #ffffff;
  letter-spacing: 1.1px;
  margin: 0 7px;
}

.social-links > p {
  font-family: "tbc-helvetica-light";
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 12px;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  color: #25262b;
  border-radius: 50%;
  border: 0.5px solid #424344;
  padding: 4px;
  cursor: pointer;
  transition: all 0.4s;
}

.link:hover {
  transform: scale(1.3) rotate(30deg);
  background-color: #5d2d34;
  color: #ffffff;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav-links > h2 {
  color: #ffffff;
  font-family: "tbc-helvetica-bold";
  font-size: 24px;
  margin-bottom: 7px;
}
.email {
  /* width: clamp(275px, 100%, 400px); */
  margin-top: 20px;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}

.subscribe {
  width: clamp(275px, 100%, 400px);
  height: 49px;
  outline: none;
  color: #25262b;
  font-family: "tbc-helvetica-roman";
  font-size: 16px;
  border: none;
  padding: 15px 20px;
  background-color: #ffffff;
  margin-bottom: 15px;
}
.send-btn {
  width: clamp(275px, 100%, 400px);
  padding: 15px 20px;
  border: none;
  color: #edeeee;
  background-color: #ff1f23;
  font-family: "tbc-helvetica-roman";
  font-feature-settings: "case" on;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 10px;
}

.border {
  width: 80%;
  background-color: white;
  height: 0.5px;
  margin: 25px auto;
}

.send-btn:hover {
  background-color: #5d2d34;
}
.subscribe:focus {
  border: solid 2px #5d2d34;
}

/* blog style */

.blog-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
}
.blog-item {
  margin: 30px auto;
  width: 100%;
  align-self: center;
}

.blog-image {
  max-width: 500px;
  width: 100%;
  margin: auto;
  object-fit: cover;
  cursor: pointer;
  overflow: hidden;
}
.blog-image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.4s;
}

.blog-image > img:hover {
  transform: scale(1.2);
}

.blog-content {
  background-color: rgb(247, 243, 243);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blog-content h2 {
  color: #38393b;
  font-size: 24px;
  font-family: "tbc-helvetica-bold";
  line-height: 1.6;
  cursor: pointer;
  transition: all 0.4s;
}
.blog-content h2:hover {
  color: #ff1f1f;
}
.blog-content p {
  color: #4d4a4a;
  font-size: 22px;
  font-family: "tbc-helvetica-light";
  margin-bottom: 10px;
}

.blog-content span {
  color: #2b2a2a;
  font-size: 20px;
  font-family: "tbc-helvetica-light";
  margin-bottom: 10px;
}

.blog-content button {
  width: 150px;
  height: 40px;
  padding: 7px 15px;
  font-size: 18px;
  font-family: "tbc-helvetica-lignt";
  color: #eae9e9;
  background-color: #ff1f1f;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 15px;
}
.blog-content button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: cadetblue;
  border-radius: 6px;
  transform: translateY(-100%);
  transition: all 0.4s;
  z-index: -1;
}
.blog-content button:hover::before {
  transform: translateY(0);
}
/* contact page style */

.contact-container {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "contact"
    "form"
    "map";
  gap: 15px;
}
.contact-info-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  grid-area: contact;
}
.contact-info-wrapper p {
  display: flex;
  align-items: center;
  color: #303132;
  font-family: "tbc-helvetica-light";
  font-size: 16px;
  margin-bottom: 6px;
}
.contact-info-wrapper h2 {
  font-family: "tbc-helvetica-bold";
  font-size: 24px;
  color: #303132;
  margin-bottom: 5px;
}

.contact-info-wrapper a {
  text-decoration: none;
  color: #8e8d8d;
  margin-left: 6px;
  font-family: "tbc-helvetica-bold";
  font-size: 14px;
  transition: all 0.4s;
}
.contact-info-wrapper a:hover {
  color: #833323;
}
.contact-form {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  border: 2px solid #ff1f1f;
  margin: 15px 0;
  padding: 40px 30px;
  position: relative;
  grid-area: form;
  border-radius: 7px;
}
.contact-form:before {
  content: "Send Us Your Message";
  width: 200px;
  height: 17%;
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: #ff1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 7px 0 0 0;
}
.contact-form div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-input {
  padding: 10px 20px;
  outline: none;
  background-color: #f3f1f1;
  color: #675050;
  font-size: 16px;
  font-family: "tbc-helvetica-roman";
  border: none;
  border-radius: 7px;
  width: 250px;
  margin: 10px 20px;
}
.form-btn {
  background-color: #303132;
  padding: 7px 20px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-family: "tbc-helvetica-bold";
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 7px;
  letter-spacing: 1.2px;
  margin-top: 15px;
}

.map-wrapper {
  grid-area: map;
  width: 100%;
  height: 500px;
}

/* login section style */

.log-in-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
}
.log-in-form {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #faefd6;
  width: 50%;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  position: relative;
}
.log-in-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.user-log {
  width: 55px;
  height: 55px;
  margin: 15px;
  color: #ff1f1f;
}

.log-in-input {
  width: 100%;
  max-width: 500px;
  padding: 15px 10px;
  outline: none;
  border: none;
  border-radius: 6px;
  color: #424344;
  font-size: 18px;
  font-family: "tbc-helvetica-roman";
  margin-bottom: 10px;
}

.log-in-btn {
  width: 150px;
  height: 40px;
  padding: 10px;
  color: #ffffff;
  background-color: #ff1f1f;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 18px;
  font-family: "tbc-helvetica-bold";
  transition: all 0.4s;
}
.log-in-btn:hover {
  transform: scale(1.3);
}

.pop-up {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
}

.pop-up p {
  font-size: 18px;
  font-family: "tbc-helvetica-bold";
  margin: 10px 0;
}
.submit-icon {
  width: 40px;
  height: 40px;
}
.submit-btn {
  width: 150px;
  height: 40px;
  color: #ffffff;
  font-size: 18px;
  font-family: "tbc-helvetica-bold";
  cursor: pointer;
  border: none;
  border-radius: 7px;
  margin: 10px 0;
}

@media (min-width: 768px) {
  /* footer style */

  /* .email {
    margin-top: unset;
  } */
}

/* form style */
.contact-info-wrapper a {
  font-size: 16px;
}

@media (min-width: 900px) {
  .footer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .li-nav {
    font-size: 16px;
  }

  .log-in-input {
    width: 300px;
  }
  .log-in-btn {
    width: 200px;
  }
}

@media (min-width: 1024px) {
  /* header style */

  .header-navigation {
    display: block;
  }

  .burger-menu {
    display: none;
  }

  .icon-wrapper {
    display: flex;
  }

  /* footer style */

  .li-nav {
    font-size: 18px;
  }
  /* .footer {
    padding: 30px 0;
  } */

  .footer-container {
    width: 80%;
    margin: auto;
  }

  .log-in-input {
    width: 400px;
  }

  /* contact page style */

  .contact-container {
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "contact map"
      "form map";
    gap: 20px;
  }
  .map-wrapper {
    height: 708px;
  }

  /* blog style */
  .blog-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .blog-item {
    width: unset;
  }
  .blog-content h2 {
    font-size: 32px;
  }
  .blog-content p {
    font-size: 26px;
  }
  .blog-content span {
    font-size: 22px;
  }
  .blog-content button {
    font-size: 22px;
  }
  .blog-image {
    padding: 10px;
  }
  .log-in-btn {
    width: 300px;
  }
}
