* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.App {
  background-color: #2e3037;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "tbc-helvetica-light";
  src: url(./assets/fonts/HELVETICANEUELTGEO-45LIGHTS\ copy.ttf);
}
@font-face {
  font-family: "tbc-helvetica-roman";
  src: url(./assets/fonts/HELVETICANEUELTGEO-55ROMAN\ copy.ttf);
}
@font-face {
  font-family: "tbc-helvetica-bold";
  src: url(./assets/fonts/HELVETICA-NEUE-LT-GEO-75-BOLD\ copy.ttf);
}
@font-face {
  font-family: "tbc-telegraf-light";
  src: url(./assets/fonts/PPTelegraf-Ultralight\ copy.otf);
}
